{% include "@cms/Breezy/header.html.twig" %}

    <div class="featured-area" data-slider-type="slider" data-slider-transition="fade" data-slider-autoplay-enabled="1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for article in featured %}
                    <div class="swiper-slide" style="background-image:url({{ article.thumbnail.webPath }})">
                        <div class="slider-item">
                            <div class="container">
                                <div class="vertical-middle">
                                    <div class="vertical-middle-inner">
                                        <div class="item-header-wrapper">
                                    <span class="cat item-postit">
                                        {{ article.getCategoriesArticle(',', true)|raw }}
                                    </span>
                                            <h2><a href="{{ path('front_single', {'alias': article.url, '_format': 'html'}) }}"
                                                   class="link-article">{{ article.title }}</a></h2>
                                            <span class="date-author">
                                                <span class="author">{{ article.author }}</span>
                                                <span class="seperator">-</span>
                                                <span class="date">{{ article.created|localizeddate("medium", "none", null, null, "d LLLL yyyy") }}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div id="main-container">
        <div class="container">
            <div id="content">
                <div class="post-list grid">
                    <div class="grid-layout">
                        {% set contents = Query({'category_name': '-non-categorise', 'orderby': 'id', 'order': 'DESC'}) %}
                        {% for content in contents %}

                            <article class="post-item article-item">
                                <div id="post" class="post item">
                                    <div class="post-featured-item">
                                        {% if content.thumbnail is not null %}
                                            <a href="{{ path('front_single', {'alias': content.url, '_format': 'html'}) }}">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ content.thumbnail.getWebPath()|imagine_filter('thumb_list') }}"
                                                     alt="{{ content.thumbnail.metas['alt_1'] }}"
                                                     title="{{ content.thumbnail.metas['title_1'] }}" />
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="item-content">
                                        <div class="post-entry">
                                            <h2>
                                                <a href="{{ path('front_single', {'alias': content.url, '_format': 'html'}) }}">{{ content.title }}</a>
                                            </h2>
                                            <div class="date-author"><span
                                                        class="date">{{ content.created|localizeddate("medium", "none", null, null, "d LLLL yyyy") }}</span>
                                            </div>
                                            <p>{{ content.chapo }}</p>
                                            <div class="masonry-item-footer clearfix">
                                                <div class="sub-meta-container">
                                                    <span class="cat">{{ content.getCategoriesArticle(',', true)|raw }}</span>
                                                </div>
                                                <div class="comment-like-container">
                                                    {{ social_buttons(content.url) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "@cms/Breezy/footer.html.twig" %}