{% include "@cms/Breezy/header.html.twig" %}
<div class="container">

    <div class="section">
        <div class="col col-12">
            <div class="dancing pull-left">
                {{ content.created|date(date_format) }} | dans {{ content.getCategoriesArticle(',') }} | par {{ content.author }}
            </div>
            <div class="clearfix"></div>
            <h1>{{ content.title }}</h1>
            {{ social_buttons() }}
            <div class="clearfix"></div>
            <div class="description">
                {{ content.description|raw }}
            </div>
            {{ widget('related-posts', content.id) }}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% include "@cms/Breezy/footer.html.twig" %}
