{% include "@cms/Breezy/header.html.twig" %}
<div class="container">
    <div id="content">
        <article id="post-{{ content.id }}" class="article-item post post-{{ content.id }}"  itemscope itemtype="http://schema.org/Event">
            <div class="post-featured-item">
                <img src="{{ content.thumbnail.getWebPath()|imagine_filter('thumb_post') }}" alt="{{ content.thumbnail.metas['alt_1'] }}"
                     title="{{ content.thumbnail.metas['title_1'] }}" class="img-responsive" />
            </div>
            <div class="post-entry full">
                <div class="post-header">
                    <span class="cat">{{ content.getCategoriesArticle(',', true)|raw }}</span>
                    <h1 itemprop="name">{{ content.title }}</h1>
                </div>
                <div class="post-entry-text">
                    {{ content.description|contact_form|raw }}
                    {{ content.get('musique')|raw }}
                    <div class="date-author">
                        Ecrit par <span class="author">{{ content.author }}</span> le <span class="date">{{ content.created|localizeddate('full', 'none') }}</span>
                    </div>
                </div>
            </div>
        </article>
        {{ widget('related-posts', content.id) }}
    </div>
    <aside id="sidebar">
        {{ widget('search') }}

        <div class="widget widget_infos">
            <h4 class="widget-title">Infos</h4>
            <p>Date : {{ content.get('date-du-concert')|raw }}</p>
            <p>Tarif : {{ content.get('tarif')|raw }}</p>
        </div>

        <div class="widget widget_map">
            <h4 class="widget-title">Salle de concert</h4>
            {{ content.get('salle-de-spectacle')|raw }}
        </div>

        {% if content.get('galerie-photo') != '' %}
        <div class="widget widget_galerie">
            <h4 class="widget-title">Galerie Photo</h4>
            {{ content.get('galerie-photo')|raw }}
        </div>
        {% endif %}

    </aside>
</div>
{% include "@cms/Breezy/footer.html.twig" %}
