<nav class="main-navigation {{ class }}">
    <ul class="nav-menu" id="{{ id }}">
        {% set oldlvl = 1 %}
        {% set multilvl = false %}
        {% for entry in entries %}
            {% if entry.lvl >= 1 %}
                {% if entry.lvl < oldlvl %}
                        </ul>
                    </li>
                    {% set oldlvl = entry.lvl %}
                    {% set multilvl = false %}
                {% elseif entry.lvl > oldlvl %}
                    <ul class="menu-items-children">
                    {% set oldlvl = entry.lvl %}
                    {% set multilvl = true %}
                {% endif %}
                <li class="menu-item lvl-{{ entry.lvl }}{% if entry.hasChildren() %} menu-parent{% endif %}">
                {% if entry.url is not null %}
                    {% if not entry.url.external %}
                    <a href="{{ path('front_single', {'alias': entry.url.url, '_format': 'html'}) }}" title="{{ entry.title }}">
                        {% if entry.iconClass != '' %}<i class="fa {{ entry.iconClass }}"></i>{% endif %}
                        {{ entry.title }}
                    </a>
                    {% else %}
                        <a href="{{ entry.url }}"
                           target="_blank" rel="noopener" title="{{ entry.title }}">
                            {% if entry.iconClass != '' %}<i class="fa {{ entry.iconClass }}"></i>{% endif %}
                            {{ entry.title }}
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('home', {'_format': 'html'}) }}">{{ entry.title }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div class="menu-mobile">

</div>