{% extends "::admin/base_login.html.twig" %}
{# form_theme form '::Templates/Admin/form.html.twig' #}

{% block body %}
<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
	{% if error  is defined and error != '' %}
		<div id="login_error">{{ error|trans|raw }}</div>
	{% endif %}
	<div class="card card-hidden">
		<div class="content">
			<div class="header text-center">{{ "cms.welcome.title"|trans }}</div>
			<p>{{ "cms.welcome.text"|trans }}</p>
			<h3>{{ "cms.welcome.infos.title"|trans }}</h3>
			<p>{{ "cms.welcome.infos.text"|trans }}</p>
			{{ form_start(form) }}
			{{ form_row(form.option_value) }}
			{{ form_row(form.option_name) }}
			{{ form_row(form.user_login) }}
			{{ form_row(form.user_pass) }}
			{{ form_row(form.user_email) }}
			{{ form_row(form.robots) }}
			 <div class="footer text-center">
			{{ form_row(form.submit) }}
			</div>
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock body %}