{% if contents is not empty %}
<div class="widget related-posts clearfix">
    <div class="box-title-area">
        <h4 class="title">{{ title }}</h4>
    </div>
    {% for content in contents %}
        <div class="item">
            <div class="related-post-image">
                {% if content.thumbnail is not null %}
                    <a href="{{ path('front_single', {'alias': content.url}) }}">
                        <img src="{{ content.thumbnail.webPath|imagine_filter('thumb_related') }}" alt="" class="img-responsive">
                    </a>
                {% endif %}
            </div>
            <h3><a href="{{ path('front_single', {'alias': content.url}) }}">{{ content.title }}</a></h3>
            <span class="date">{{ content.created|localizeddate('medium', 'none') }}</span>
        </div>
    {% endfor %}
</div>
{% endif %}