<div class="social">
{% if facebook is not null %}
<a href="{{ facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
{% endif %}
{% if twitter is not null %}
    <a href="{{ twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
{% endif %}
{% if instagram is not null %}
    <a href="{{ instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if pinterest is not null %}
    <a href="{{ pinterest }}" target="_blank"><i class="fa fa-pinterest"></i></a>
{% endif %}
{% if gplus is not null %}
    <a href="{{ gplus }}" target="_blank"><i class="fa fa-gplus"></i></a>
{% endif %}
{% if youtube is not null %}
    <a href="{{ youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
{% endif %}
{% if linkedin is not null %}
    <a href="{{ linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
{% endif %}
</div>