{% extends "::admin/base_admin.html.twig" %}

{% block body %}
		{% for flashMessage in app.session.flashbag.get('success') %}
		    <div class="alert alert-callout alert-success" role="alert"><span>{{ flashMessage|trans }}</span></div>
		{% endfor %}
		<div class="card col-md-8 col-sm-12">
			<div class="header">
				<h4 class="title">{{ 'cms.user.my_profile'|trans }}</h4>
			</div>
			<div class="content">
				{{ form_start(form) }}
				{% for child in form %}
					{{ form_row(child) }}
				{% endfor %}
				{{ form_rest(form) }}
				<div class="clearfix"></div>
				<button type="submit" class="btn btn-info btn-fill pull-right">{{ 'Update'|trans }}</button>
				{{ form_end(form) }}
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="card card-user">
				<div class="image"><img src="" alt=""></div>
				<div class="content">
					<div class="author">
						<a href="{{ app.user.userUrl }}">
							<img src="{{ asset(app.user.webPath) }}" alt="{{ app.user }}" class="avatar border-gray">
							<h4 class="title">
								{{ app.user }}<br /><small>{{ app.user.userLogin }}</small>
							</h4>
						</a>
					</div>

					<p class="description text-center">{{ app.user.getMeta('about_me') }}</p>
				</div>
				<hr>
				<div class="text-center">
					<a href="https://www.twitter.com/{{ app.user.getMeta('id_twitter') }}" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
					<a href="{{ app.user.getMeta('facebook_url') }}" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
					<a href="{{ app.user.getMeta('gplus_url') }}" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></a>
				</div>
			</div>
		</div>
{% endblock body %}
{% block javascript %}
<script type="text/javascript">
function nl2br (str, is_xhtml) {
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
}
$(document).ready(function(){
	$('.card-user .image img').attr('src', $sidebar.data('image'));
	$('textarea[name="profile[metas_about_me]"]').on('keyup', function() {
		$('.card-user .description').html(nl2br($(this).val()));
	})
});
</script>
{% endblock javascript %}