<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ 'cms.login'|trans }}</title>
	 <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    {% stylesheets
        'bundles/core/css/font-awesome.min.css'
        'bundles/core/css/bootstrap.min.css'
        'bundles/core/css/light-bootstrap-dashboard.css'
        filter='cssrewrite' output='css/admin.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:">Symfony CMS</a>
        </div>
    </div>
</nav>


<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="black" data-image="{{ asset('bundles/core/images/winter.jpg') }}">

    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                	{% block body %}
                	{% endblock body %}
                </div>
            </div>
        </div>

    	<footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{{ path('home') }}">
                                {{ 'cms.core.home'|trans }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>

</div>

</body>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    {% javascripts output='js/scms-login.js'
        'bundles/core/js/jquery-ui.min.js'
        'bundles/core/js/bootstrap.min.js'
        'bundles/core/js/bootstrap-checkbox-radio-switch.js'
        'bundles/core/js/bootstrap-notify.js'
        'bundles/core/js/bootstrap-select.js'
        'bundles/core/js/bootstrap-table.js'
        'bundles/core/js/light-bootstrap-dashboard.js'
        'bundles/core/js/chartist.min.js'
        'bundles/core/js/summernote.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $().ready(function(){
            lbd.checkFullPageBackgroundImage();

            setTimeout(function(){
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
</html>