<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	{% if title is defined %}
		{{ title }}
	{% else %}
		SCMS Admin
	{% endif %}
	</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    {% block scripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    {% endblock %}
	{% stylesheets
		'bundles/core/css/animate.min.css'
		'bundles/core/css/font-awesome.min.css'
        'bundles/core/css/bootstrap.min.css'
		'bundles/core/css/pe-icon-7-stroke.css'
        'bundles/core/css/light-bootstrap-dashboard.css'
        'bundles/core/css/dropzone.css'
		'bundles/core/css/summernote.css'
		'bundles/core/css/sweetalert2.min.css'
	 		filter='cssrewrite' output='css/admin.css' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
	{% endstylesheets %}
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="black" data-image="{{ asset('bundles/core/images/full-screen-image-3.jpg') }}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
        <div class="logo">
                <a href="http://www.3c-e.com" class="logo-text">
                    3c-evolution
                </a>
            </div>
    	<div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{{ asset(app.user.webPath) }}" alt="">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="false">
                        {{ app.user }}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li><a href="{{ path('admin_user_profile') }}">{{ 'cms.user.my_profile'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{{ path('admin_dashboard_index') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#content" data-toggle="collapse" aria-expanded="false" class="collapse">
                        <i class="pe-7s-news-paper"></i>
                        <p>{{ 'cms.content.content'|trans }} <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="content">
                        <ul class="nav">
                            <li><a href="{{ path('admin_content') }}">{{ 'cms.content.content'|trans }}</a></li>
                            <li><a href="{{ path('admin_category') }}">{{ 'cms.content.category'|trans }}</a></li>
                            <li><a href="{{ path('admin_content-taxonomy') }}">{{ 'cms.content.content_taxonomy'|trans }}</a></li>
                            <li><a href="{{ path('admin_field') }}">{{ 'cms.content.field'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="{{ path('admin_media_index') }}">
                        <i class="pe-7s-photo"></i>
                        <p>{{ 'cms.media.media'|trans }}</p>
                    </a>
                </li>
                <li>
                    <a href="#administration" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="pe-7s-tools"></i>
                        <p>Administration <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="administration">
                        <ul class="nav">
                            <li><a href="{{  path('admin_options_general') }}">Préférences</a></li>
                            <li><a href="{{ path('admin_menutaxonomy') }}">Menus</a></li>
                            <li><a href="{{ path('admin_users') }}">Utilisateurs</a></li>
                            <li><a href="{{ path('admin_themes') }}">Thèmes</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
    	</div>
        <div class="sidebar-background"></div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    {#<ul class="nav navbar-nav navbar-left">#}
                        {#<li>#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                                {#<i class="fa fa-dashboard"></i>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="dropdown">#}
                              {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                                    {#<i class="fa fa-globe"></i>#}
                                    {#<b class="caret"></b>#}
                                    {#<span class="notification">5</span>#}
                              {#</a>#}
                              {#<ul class="dropdown-menu">#}
                                {#<li><a href="#">Notification 1</a></li>#}
                                {#<li><a href="#">Notification 2</a></li>#}
                                {#<li><a href="#">Notification 3</a></li>#}
                                {#<li><a href="#">Notification 4</a></li>#}
                                {#<li><a href="#">Another notification</a></li>#}
                              {#</ul>#}
                        {#</li>#}
                        {#<li>#}
                           {#<a href="">#}
                                {#<i class="fa fa-search"></i>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}

                    <ul class="nav navbar-nav navbar-right">
                        {#<li>#}
                           {#<a href="{{ path('admin_user_profile') }}">#}
                               {#{{ 'cms.user.my_profile'|trans }}#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="dropdown">#}
                              {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                                    {#Dropdown#}
                                    {#<b class="caret"></b>#}
                              {#</a>#}
                              {#<ul class="dropdown-menu">#}
                                {#<li><a href="#">Action</a></li>#}
                                {#<li><a href="#">Another action</a></li>#}
                                {#<li><a href="#">Something</a></li>#}
                                {#<li><a href="#">Another action</a></li>#}
                                {#<li><a href="#">Something</a></li>#}
                                {#<li class="divider"></li>#}
                                {#<li><a href="#">Separated link</a></li>#}
                              {#</ul>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">#}
                                {#Log out#}
                            {#</a>#}
                        {#</li>#}
                        <li><a href="{{ path('home') }}" target="_blank" rel="noopener">{{ 'cms.core.view_site'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
				{% block body %}
				{% endblock body %}
                </div>
			</div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>
{% block modals %}
{% endblock modals %}

    <!--   Core JS Files   -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts filter="?jsqueeze" output='js/scms.js'
        '@CoreBundle/Resources/public/js/10_moment.min.js'
        '@CoreBundle/Resources/public/js/dropzone.js'
        '@CoreBundle/Resources/public/js/jquery-ui.min.js'
        '@CoreBundle/Resources/public/js/bootstrap.min.js'
		'@CoreBundle/Resources/public/js/bootstrap-checkbox-radio-switch-tags.js'
		'@CoreBundle/Resources/public/js/bootstrap-notify.js'
		'@CoreBundle/Resources/public/js/bootstrap-select.js'
		'@CoreBundle/Resources/public/js/bootstrap-table.js'
		'@CoreBundle/Resources/public/js/light-bootstrap-dashboard.js'
        '@CoreBundle/Resources/public/js/bootstrap-datetimepicker.js'
		'@CoreBundle/Resources/public/js/chartist.min.js'
        '@CoreBundle/Resources/public/js/summernote.min.js'
        '@CoreBundle/Resources/public/js/summernote-ext-link.js'
        '@CoreBundle/Resources/public/js/summernote-ext-img.js'
        '@CoreBundle/Resources/public/js/summernote-img-attribute.js'
        '@CoreBundle/Resources/public/js/app.js'
        '@CoreBundle/Resources/public/js/sweetalert2.min.js'
        '@CoreBundle/Resources/public/js/fr.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
	<script type="text/javascript">
    	$(document).ready(function(){

    	    $('.modal').each(function() {
    	       var modal = $(this).detach();
               modal.appendTo('body');
            });

        	$sidebar = $('.sidebar');
            $sidebar_img_container = $sidebar.find('.sidebar-background');
            $('.card-user .image img').attr('src', $sidebar.data('image'));


            $('input[type=checkbox].status').on('change', function() {
                var elem = $(this);
                var id = elem.data('id');
                var repo = elem.data('repo');
                var property = elem.data('prop');
                $.ajax({
                    url: '/admin/change-statut/'+id+'/'+repo+'/'+property,
                    success: function(msg) {
                        if (msg.status == false) {
                            $('#main-card').before('<div class="alert alert-callout alert-danger" role="alert">'+msg.message+'</div>');
                        }
                    }
                })
            })

    	});
	</script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>