        {{ widget('instagram') }}
        <div class="clearfix"></div>
        <footer>
            <div class="logo"><h3>TravelCloud</h3></div>
            {{ widget('follow-me') }}
            <p>&copy; choup Theme • From France with love • leoncorono@gmail.com • Tel: 6-123-456</p>
            <p>Copyright &copy; 2016 Choup, INC</p>
        </footer>
        <a href="#" class="goto-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('/templates/' ~ theme ~ '/assets/js/script.min.js') }}"></script>
</body>
</html>