{{ widget('instagram') }}
<div class="clearfix"></div>
<footer>
    <div class="logo"><h3>TravelCloud</h3></div>
    {{ social_buttons() }}
    <p>&copy; choup Theme • From France with love • leoncorono@gmail.com • Tel: 6-123-456</p>
    <p>Copyright &copy; 2016 Choup, INC</p>
</footer>
<a href="#" class="goto-top"><i class="fa fa-angle-up"></i></a>
</div>
<script type="text/javascript" src="{{ asset('/templates/' ~ theme ~ '/assets/js/swiper.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/templates/' ~ theme ~ '/assets/js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/templates/' ~ theme ~ '/assets/js/app.js') }}"></script>
</body>
</html>