<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% if content is defined %}
        {{ metas(content) }}
    {% elseif category is defined %}
        {{ metas(category) }}
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/assets/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/assets/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/assets/swiper.min.css') }}">
</head>
<body>
    <div class="wrapper">
        <header id="header">
            <div class="container clearfix">
                {{ render_menu('header') }}
                {{ widget('search-header') }}
                <div id="share">
                    {{ widget('follow-me') }}
                </div>
            </div>
        </header>
        <div id="main-header-logo">
            <div id="main-wrapper-logo">
                <div class="container">
                    <h1><a href="{{ path('home') }}">Travel Cloud</a></h1>
                </div>
            </div>
        </div>