{% extends "::admin/base_admin.html.twig" %}

{% block body %}
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_content') }}">Contenus</a></li>
            <li class="active">Création</li>
        </ol>
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-callout alert-danger" role="alert">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-callout alert-success" role="alert">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
    <div id="main-card" class="card">
        <div class="header">
            <h4 class="title pull-left">{{ 'cms.content.content' |trans }}</h4>
            <div class="fixed-table-toolbar">
                <div class="columns columns-right pull-right">
                    {% if notification and lastPost is not null %}
                      <a href="javascript:initNotify()" class="btn btn-danger" title="cms.content.display_notification"><i class="fa fa-bell-o"></i></a>
                    {% endif %}
                    <a data-toggle="modal" href="#modal-taxonomy" class="btn btn-default" title="cms.content.add_new"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal fade" id="modal-taxonomy">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ 'cms.content.taxonomies'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="taxonomies" class="form-label"></label>
                            <select name="contenttaxonomy" id="taxonomies" class="form-control"
                                    onchange="changeUrl(this)">
                                <option value="">--</option>
                                {% for taxonomy in taxonomies %}
                                    <option value="{{ taxonomy.alias }}">{{ taxonomy.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-fill" data-dismiss="modal"
                                aria-hidden="true">{{ 'Close'|trans }}</button>
                        <a class="btn btn-info btn-fill">{{ 'New'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content bootstrap-table clearfix">
            <ul role="tablist" class="nav nav-tabs col-md-6">
                <li role="presentation" class="active">
                    <a href="#published" data-toggle="tab"><i class="fa fa-file-o"></i> Contenus</a>
                </li>
                <li>
                    <a href="#trashed" data-toggle="tab"><i class="fa fa-trash-o"></i> Corbeille</a>
                </li>
            </ul>
            <div class="nav nav-tabs col-md-6">
                <div class="row">
                    <form method="get" class="col-md-6 pull-right search-content">
                        <input type="search" class="form-control" name="q" placeholder="Rechercher..." />
                    </form>
                </div>
            </div>
            <div class="tab-content">
                <div id="published" class="tab-pane active">
                    {% include "ContentBundle:Content:table.html.twig" with {'entities': entities, 'page': page, 'pageCount': pageCount, 'next': next, 'previous': previous} %}
                </div>
                <div id="trashed" class="tab-pane">
                    {% include "ContentBundle:Content:table.html.twig" with {'entities': entities_trashed, 'page': page_trash, 'pageCount': pageCount_trash, 'next': next_trash, 'previous': previous_trash} %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" aria-labelledby="simpleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'cms.content.modal.title_delete'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'cms.content.modal.text_delete'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-raised btn-default-bright" data-dismiss="modal"><i
                                class="fa fa-close"></i> {{ 'cancel'|trans }}</button>
                    <a href="" class="btn ink-reaction btn-raised btn-danger"><i
                                class="fa fa-trash-o"></i> {{ 'delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function changeUrl(elem) {
            var contenttaxonomy = $(elem).val();
            var url = Routing.generate('admin_content_new', {'contenttaxonomy': contenttaxonomy});
            $('#modal-taxonomy').find('.modal-footer > a').attr('href', url)
        }


        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var path = Routing.generate('{{ url }}', {id: id});
            var modal = $(this);
            modal.find('.modal-footer > a.btn-danger').attr('href', path);
        });

        function initNotify(){  // Onload du body
            if(window.Notification){
                Notification.requestPermission(function (status) {
                    if(status == 'granted') {
                        notify();
                    }
                });
            }
        }

        function notify(){
            {% if lastPost is not null %}
            new Notification('{{ app.request.getSchemeAndHttpHost() }}', {
                body: '{{ lastPost.title }}',
                icon: '{{ absolute_url(asset('/templates/' ~ template ~ '/assets/images/logo4.png')) }}'
            });
            {% endif %}
        }
    </script>
{% endblock javascript %}
