{% extends "::admin/base_admin.html.twig" %}

{% block body %}
	{{ form_start(form) }}
				<div class="col-md-3 pull-right">
					<div class="card">
						<div class="header">
							<h4 class="title pull-left">Langues</h4>
							<a data-toggle="collapse" href="#contentLanguage" class="btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
							<div class="clearfix"></div>
						</div>
						<div id="contentLanguage" class="content">
							{{ form_row(form.language) }}
						</div>
					</div>
					<div class="card">
						<div class="header">
							<h4 class="title pull-left">Infos</h4>
							<a class="btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
							<div class="clearfix"></div>
						</div>
						<div class="content">
							<ul class="list-unstyled">
								<li>Author: {{ app.user }}</li>
								<li>Date: {{ 'now'|date('d/m/Y H:i:s') }}</li>
								<li>{{ form_row(form.published) }}</li>
							</ul>
						</div>
					</div>
					<div class="card">
						<div class="header">
							<h4 class="title pull-left">Catégories</h4>
							<a class="btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
							<div class="clearfix"></div>
						</div>
						<div class="content">{{ form_row(form.categories) }}</div>
					</div>
					<div class="card">
						<div class="header">
							<h4 class="title pull-left">Image</h4>
							<a class="btn-icon-toggle btn-collapse pull-right"><i class="fa fa-angle-down"></i></a>
							<div class="clearfix"></div>
						</div>
						<div class="content">{{ form_row(form.thumbnail) }}</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card">
						<div class="content">{{ form_rest(form) }} <div class="clearfix"></div></div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
