{% if value is not empty %}
<div class="section gallery">
    {% for medium in value %}
        {% set alt = "alt_" ~ defaultLanguage.id %}
        {% set title = "title_" ~ defaultLanguage.id %}
        <div class="col-6">
            <a href="javascript:" data-target="modal-gallery" data-toggle="modal"
               data-url="{{ asset(medium.webPath) }}" rel="gallery">
                <img src="{{ asset(medium.webPathList) }}" alt="{{ medium.metas[alt] }}"
                     title="{{ medium.metas[title] }}" class="img-responsive"/>
            </a>
        </div>
    {% endfor %}
    <div id="modal-gallery" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <div class="modal-inner">
            <!-- Modal Content (The Image) -->
            <img class="modal-content">
        </div>

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        loadjsfile("{{ asset('bundles/core/js/modal.js') }}", true);
    });
</script>
{% endif %}