{% include "@cms/Borderland/header.html.twig" %}
<div class="container-category">
    <div class="nav-category-outer">
        <div class="nav-category-holder">
            <ul class="nav nav-category">
                <li><a href="javascript:" data-filter="*">Accueil</a></li>
                {% for cat in categories %}
                    {% if category is defined and cat.id == category.id %}
                        <li><span>{{ cat.title }}</span></li>
                    {% else %}
                        <li><a href="javascript:" data-filter=".{{ cat.url }}">{{ cat.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="section">
        {% for content in contents %}
            <article class="element-item {{ content.getCategoriesClass() }}">
                <div class="article-holder">
                    <div class="text-article">
                        <div class="text-centerer">
                            <div class="text-inner">
                                <h5>{{ content.title }}</h5>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('front_single', {'alias': content.url}) }}" class="link-article"></a>
                    <div class="image-shader"></div>
                    <div class="image-article">
                        <span class="image"><img src="{{ content.thumbnail.getWebPathSize("medium") }}"
                                                 class="img-responsive"
                                                 alt="{{ content.thumbnail.metas['alt_1'] }}"
                                                 title="{{ content.thumbnail.metas['title_1'] }}"></span>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% include "@cms/Borderland/footer.html.twig" %}