{% include "@cms/Borderland/header.html.twig" %}
<div class="container-category">
    <ul class="nav nav-category">
        {% for cat in categories %}
            <li><a href="{{ path('front_single', {'alias': cat.url}) }}">{{ cat.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="section">
        {% for content in contents %}
            <article>
                <div class="article-holder">
                    <div class="text-article">
                        <div class="text-centerer">
                            <div class="text-inner">
                                <h5>{{ content.title }}</h5>
                            </div>
                        </div>
                    </div>
                    <a href="" class="link-article"></a>
                    <div class="image-shader"></div>
                    <div class="image-article">
                        <span class="image"><img src="{{ content.thumbnail.getWebPathSize("medium") }}"
                                                 class="img-responsive"
                                                 alt="{{ content.thumbnail.metas['alt_1'] }}"
                                                 title="{{ content.thumbnail.metas['title_1'] }}"></span>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% include "@cms/Borderland/footer.html.twig" %}