{% extends "::admin/base_login.html.twig" %}

{% block body %}
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="card card-hidden error">
                <div class="col-md-12">
                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                    {{ flashMessage|trans }}
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="card card-hidden error">
                <div class="col-md-12">
                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                    {{ flashMessage|trans }}
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <div class="card card-hidden">
            <div class="header text-center">{{ 'cms.core.lost_password_request'|trans }}</div>
            <div class="content">
                {{ form_row(form.email) }}
                <div class="footer text-center">
                {{ form_row(form.submit) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}