{% extends "::admin/base_admin.html.twig" %}

{% block body %}
	<!-- INBOX NAV -->
	<div class="col-sm-4 col-md-3 col-lg-2">
		<div class="card">
			<div class="header">
				<h4 class="title"></h4>
			</div>
			<div class="content">
				<div class="panel-group" id="mailboxes">
                    {% for f, icon in folders %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                    {% if f == folder %}
									<a href="{{ path('admin_messages', {'folder': f}) }}" class="info">
										<i class="{{ icon }}"></i> {{ f|trans|capitalize }}
										<small>({{ messages|length }})</small>
									</a>
									{% else %}
									<a href="{{ path('admin_messages', {'folder': f}) }}" class="info">
										<i class="{{ icon }}"></i> {{ f|trans|capitalize }}
									</a>
									{% endif %}
								</h4>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Inbox nav -->
	<div class="col-sm-8 col-md-9 col-lg-10">
		<div class="row">
			{% if messages|length > 0 %}
				<div class="col-md-5 col-lg-4 height-6 scroll-sm">
					<div class="list-group list-email list-gray">
						{% for message in messages %}
							{% set class = '' %}
							{% if message.id == last_message.id %}
								{% set class = ' focus' %}
							{% endif %}
							<a href="javascript:showMail({{ message.id }});" class="list-group-item{{ class }}" data-id="{{ message.id }}">
								<h5>{{ message.sender }}</h5>
								<h4>{{ message.subject|trans }}</h4>
							</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7 col-lg-8 email">
					<div class="text-divider hidden-md hidden-lg"><span>Email</span></div>
					<h1 class="no-margin">{{ last_message.subject|trans }}</h1>
							<div class="btn-group stick-top-right">
								<a href="" class="btn btn-icon-toggle btn-default"><i class="fa fa-trash"></i></a>
								<a href="" class="btn btn-icon-toggle btn-default"><i class="fa fa-reply"></i></a>
								<a href="" class="btn btn-icon-toggle btn-default"><i class="fa fa-reply-all"></i></a>
								<a href="" class="btn btn-icon-toggle btn-default"><i class="fa fa-share"></i></a>
							</div>
							<span class="pull-right text-default-light">{{ last_message.sentDate|date('d/m/Y H:i') }}</span>
							<strong>{{ last_message.sender }}</strong>
							<hr>
							<p class="lead">{{ last_message.message|trans|raw }}</p>
						</div>
			{% else %}
				<div class="col-md-12">
					<div class="alert alert-callout alert-info">
						{{ "cms.contact.inbox_empty"|trans }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock body %}