{% extends "::admin/base_admin.html.twig" %}

{% block body %}
    <h1 class="pull-left">Media</h1>
    <div class="pull-right"><a href="javascript:resizeMedia()" class="btn">Resize</a></div>
    <div class="clearfix"></div>


    <div class="row resized">
        <div class="col-md-6 hide">
            <div class="card">
                <div class="header">Resize Progression</div>
                <div class="content">
                    <span class="filename"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100">0%
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    {{ form(form) }}
    <div class="thumbnails">
        {% include "MediaBundle:Media:media.html.twig" %}
    </div>
    <div class="loader hide">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </div>
    <button type="button" id="lazy" class="btn btn-fill btn-primary center-block">Plus de résultats</button>
{% endblock body %}
{% block modals %}

<div class="modal" id="modal-thumb">
    <div class="modal-dialog modal-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cssload-loader">
                            <div class="cssload-inner cssload-one"></div>
                            <div class="cssload-inner cssload-two"></div>
                            <div class="cssload-inner cssload-three"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-delete" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'cms.content.modal.title_delete'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'cms.content.modal.text_delete'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ink-reaction btn-raised btn-default-bright" data-dismiss="modal"><i
                            class="fa fa-close"></i> {{ 'cancel'|trans }}</button>
                <a href="javascript:" class="btn ink-reaction btn-raised btn-danger"><i
                            class="fa fa-trash-o"></i> {{ 'delete'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/media/js/media.js') }}"></script>
    <script type="text/javascript">
        var nb_total = '{{ nb_media_total }}';
    </script>
{% endblock javascript %}