<div class="col-md-2 centered thumb" id="thumb-{{ media.id }}">
    <div class="thumbnail">
        <a href="javascript:" class="text-center" data-toggle="modal" data-target="#modal-thumb" data-url="{{ asset(media.webPath) }}" data-id="{{ media.id }}" data-alt="{{ media.metas['alt_1'] }}">
            <img src="{{ asset(media.webPathList) }}" alt="{{ media.metas['alt_1'] }}" title="{{ media.metas['title_1'] }}">
        </a>
        <div class="caption text-center">
            {{ file_details(media.id)|raw }}
        </div>
        <a data-toggle="swal-delete" rel="tooltip"
           class="btn btn-simple btn-danger btn-xs pull-right" data-id="{{ media.id }}"
           data-placement="top" data-original-title="Supprimer">
            <i class="fa fa-trash-o"></i>
        </a>
        <div class="clearfix"></div>
    </div>
</div>