<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/templates/' ~ theme ~ '/style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="left-header pull-left">
                    <a href=""><span id="logo"></span><span class="title">{{ sitename }}</span></a>
                </div>
                <div class="right-header pull-right">
                    <div class="buttons pull-right">
                        <a href="" class="btn btn-fill">Inscription</a>
                        <a href="" class="btn btn-simple">Login</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="travel">
            <div class="travel-background">
                <div id="content"></div>
                <img src="{{ content.thumbnail.webPath }}" alt="{{ content.title }}" class="img-responsive"/>
                <div class="header">
                    <h1>{{ content.title }}</h1>
                    {#<h3 class="subtitle">{{ content.subtitle }}</h3>#}
                </div>
            </div>
            <div class="container content">
                {{ content.description|raw }}
            </div>
        </div>
    </body>
</html>