{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metum.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ metum.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ metum.name }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ metum.value }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if metum.published %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if metum.created %}{{ metum.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_meta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_meta_edit', { 'id': metum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
